.projects-container{
  /* height: 420px; */
  background: #FFFFFF ;
  border-bottom:#FAB168 10px solid;
  padding: 10px;
  margin: auto;
  text-align: center;
}


h3{
  margin: 0;

}

.projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.project{
  width: 500px;
  height: 325px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 8px;
}

.project1{
  background-image: url('../assetts/photoeffectstitle.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.project1:hover{
  background-image: url('../assetts/photoeffects.gif');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.project2{
  background-image: url('../assetts/sandjtitle.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.project2:hover{
  background-image: url('../assetts/sandj.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.project3{
  background-image: url('../assetts/pinkclosetstitle.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}
.project3:hover{
  background-image: url('../assetts/pinkclosets.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.project4{
  background-image: url('../assetts/uwctitle.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.project4:hover{
  background-image: url('../assetts/uwctool.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.project5{
  background-image: url('../assetts/lquesttitle.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.project5:hover{
  background-image: url('../assetts/lambdaquest.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
